extends layout

block css
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.1.0/css/all.css' integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous")
    style.
        .btn {
        width: 240px;
        margin-right:10px;
        margin-bottom: 10px;
        }

        .spinner {
            margin-right:10px;
        }

        .hidden {
            display: none;
        }

        .errorText {
            color: red;
        }

block js
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
    script(src="/javascripts/fido/reg.js" type="text/javascript")
block header
    .header-wrap
        h1= title
        p User Information

block content
    .content-wrap
        .row
            .col
                lable UserName
            .col-6
                .form-check
                input.form-control(placeholder="Enter unique identifier e.g., email" id="userName" name="userName")
        hr
        .row
            .col
                lable DisplayName
            .col-6
                .form-check
                input.form-control(placeholder="Enter human readable name like your name" id="userDisplayName" name="userDisplayName")
        hr
        fieldset.form-group
            legend.col-from-label
                h4 Register credential Options
            .row
                .col
                    b Attestation conveyance preference
                .col-3
                    .form-check
                        input(name="specifyAttestationConveyance" id="specifyAttestationConveyance" type="checkbox" value="specifyAttestationConveyance" checked).form-check-input
                        |  Specify
                .col-6
                    .form-check
                        input.form-check-input(name="attestationConveyancePreference" type="radio" value="none" checked)
                        label.form-check-label None(default)
                    .form-check
                        input.form-check-input(name="attestationConveyancePreference" type="radio" value="indirect" )
                        label.form-check-label Indirect
                    .form-check
                        input.form-check-input(name="attestationConveyancePreference" type="radio" value="direct" )
                        label.form-check-label Direct
            hr
            .row
                .col
                    b Authenticator selection
                .col-3
                    .form-chekc
                        input.form-check-input(name="specifyAuthenticatorSelection" id="specifyAuthenticatorSelection" value="specifyAuthenticatorSelection" type="checkbox" checked)
                        |  Specify
                .col-6
            hr
            .row
                .col > Authenticator Attachment
                .col-3
                    .form-chekc
                        input.form-check-input(name="specifyAuthenticatorAttachment" id="specifyAuthenticatorAttachment" value="specifyAuthenticatorAttachment" type="checkbox" checked) 
                        |  Specify
                .col-6
                    .form-check
                        input.form-check-input(name="attachment" type="radio" value="platform" checked)
                        label.form-check-label On bound (platform) authenticator
                            span.errorText - Reported as not available 
                    .form-check
                        input.form-check-input(name="attachment" type="radio" value="cross-platform")
                        label.form-check-label On roaming (cross-platform) authenticator
            hr
            .row
                .col > Require resident key (username-less flow)
                .col-6
                    .form-check
                        input.form-check-input(name="requireResidentKey" id="requireResidentKey" type="checkbox" value="requireResidentKey" checked)
                        |  Default to unchecked
            hr
            .row
                .col > User verification required (also for authentication)
                .col-6
                    .form-check
                        input.form-check-input(name="userVerificationRequired" type="radio" value="required") 
                        |  Required
                    .form-check
                        input.form-check-input(name="userVerificationRequired" type="radio" value="preferred" checked) 
                        |  Preferred (default)
                    .form-check
                        input.form-check-input(name="userVerificationRequired" type="radio" value="discouraged") 
                        |  Discouraged

        button.btn.btn-primary(type="button" id="register" onclick="registerButtonClicked();")
            i.fa.fa-spinner.fa-spin.spinner.hidden(id="registerSpinner")
            |  Register
        button.btn.btn-primary(type="button" id="authenticate" )
            i.fa.fa-spinner.fa-spin.spinner.hidden(id="authenticateSpinner")
            |  Authenticate
        button.btn.btn-primary(type="button" id="check" )
            i.fa.fa-spinner.fa-spin.spinner.hidden(id="checkSpinner")
            |  Check results
    #status.alert.alert-primary.hidden
        |   status